{% extends 'base.html.twig' %}

{% block title %}🚗Connectez-vous ! 🚗{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}
    
    <form method="post" class="mt-5 mb-5">

        <label for="username" class="form-label mt-5 mb-3">Votre Email</label>
        <input type="email" name="_username" id="username" class="form-control mb-3" value="{{ last_email }}" required>

        <label for="password" class="form-label mb-3">Votre mot de passe</label>
        <input type="password" name="_password" id="password" class="form-control mb-3" required>

        <input type="hidden" name="_target_path" value="/">

        <input type="submit" value="Connexion" class="btn btn-primary mb-5">

    </form>


{% endblock %}
