<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Nouveau message de {{ firstname }} {{ lastname }} :</h1>
    <p>{{ message }}</p>

    <a href="tel:+33{{ telephone }}">Pour l'appeler cliquez ici !</a>
</body>
</html>