/* Reset / style général */

* {
    font-family: 'Barlow', sans-serif;
    color: var(--black-);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rajdhani', sans-serif;
}

:root {
    --red-: #D92332;
    --pink_strong-: #D94350;
    --pink_gentle-: #D9777F;
    --black-: #262526;
    --white-: #F2F2F2;
}

.header, .footer {
    background-color: var(--black-);
}

body {
    height: 100%;
}

a {
    text-decoration: none;
}

/* Header */


.logo_header {
    width: 60%;
    height: 60%;
}

.links_navbar li a {
    color: var(--pink_gentle-);
}

.links_navbar li a:hover {
    color: var(--pink_strong-);
}

.menu_links {
    flex-grow: 0 !important;
}

@media (max-width: 576px) {
    .navigation {
        justify-content: space-between;
    }
}

/* Body */

.cards-car {
    width: 18rem;
}

.car-image {
    width: 16.5rem; 
    height: 16.5rem; 
    object-fit: contain;
}

.line {
    width: 50%;
    border: solid 1px var(--pink_strong-);
    position: relative;
}

.carousel-left,
.carousel-right {
    width: 1rem;
}

@media (max-width: 767px) {
    .carousel-avis{
        flex-direction: column;
        align-items: center;
    }
    .card-avis {
        width: 70% !important;
    }
}

/* Footer */


.copyright {
    color: var(--white-);
}

.logo_footer {
    height: 80%;
    width: 80%;
}

.planning,
.planning_times > *,
.adress {
    color: var(--pink_gentle-);
}

.telephone {
    color: var(--pink_gentle-);
}
